body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-56px;
  width:1383px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4370_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:836px;
}
#u4370 {
  border-width:0px;
  position:absolute;
  left:56px;
  top:28px;
  width:1078px;
  height:836px;
  display:flex;
}
#u4370 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4370_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4371_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:39px;
  background:inherit;
  background-color:rgba(51, 119, 245, 1);
  border:none;
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4371 {
  border-width:0px;
  position:absolute;
  left:718px;
  top:97px;
  width:136px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4371 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4371_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4372_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:39px;
  background:inherit;
  background-color:rgba(51, 119, 245, 1);
  border:none;
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4372 {
  border-width:0px;
  position:absolute;
  left:1103px;
  top:97px;
  width:86px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4372 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4372_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4373_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:198px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4373 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:243px;
  width:243px;
  height:198px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u4373 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u4373_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
