body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-54px;
  width:1385px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u2453_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1078px;
  height:836px;
}
#u2453 {
  border-width:0px;
  position:absolute;
  left:54px;
  top:41px;
  width:1078px;
  height:836px;
  display:flex;
}
#u2453 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2453_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u2454_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:136px;
  height:39px;
  background:inherit;
  background-color:rgba(51, 119, 245, 1);
  border:none;
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2454 {
  border-width:0px;
  position:absolute;
  left:713px;
  top:107px;
  width:136px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2454 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2454_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2455_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:39px;
  background:inherit;
  background-color:rgba(51, 119, 245, 1);
  border:none;
  border-radius:33px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2455 {
  border-width:0px;
  position:absolute;
  left:1099px;
  top:107px;
  width:86px;
  height:39px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2455 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u2455_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u2456_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:243px;
  height:198px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2456 {
  border-width:0px;
  position:absolute;
  left:1196px;
  top:243px;
  width:243px;
  height:198px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u2456 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u2456_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
