body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-23px;
  width:691px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u12587_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:213px;
}
#u12587 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:35px;
  width:375px;
  height:213px;
  display:flex;
}
#u12587 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12587_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12588_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:173px;
}
#u12588 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:242px;
  width:373px;
  height:173px;
  display:flex;
}
#u12588 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12588_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12589_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:114px;
}
#u12589 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:415px;
  width:373px;
  height:114px;
  display:flex;
}
#u12589 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12589_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12590_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:99px;
}
#u12590 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:757px;
  width:373px;
  height:99px;
  display:flex;
}
#u12590 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12590_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12591_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:173px;
}
#u12591 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:242px;
  width:2px;
  height:173px;
  display:flex;
}
#u12591 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12591_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12592_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12592 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:209px;
  width:150px;
  height:150px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12592 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u12592_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12593_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:114px;
}
#u12593 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:513px;
  width:373px;
  height:114px;
  display:flex;
}
#u12593 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12593_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u12594_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u12594 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:516px;
  width:298px;
  height:20px;
  display:flex;
  text-align:left;
}
#u12594 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12594_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12595_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12595 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:542px;
  width:298px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u12595 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12595_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12596_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-decoration:underline ;
  text-align:left;
}
#u12596 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:582px;
  width:298px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-decoration:underline ;
  text-align:left;
}
#u12596 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u12596_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u12597_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:323px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12597 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:329px;
  width:316px;
  height:323px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u12597 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u12597_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
