body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-23px;
  width:691px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14465_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:213px;
}
#u14465 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:35px;
  width:375px;
  height:213px;
  display:flex;
}
#u14465 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14465_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14466_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:173px;
}
#u14466 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:242px;
  width:373px;
  height:173px;
  display:flex;
}
#u14466 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14466_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14467_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:114px;
}
#u14467 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:415px;
  width:373px;
  height:114px;
  display:flex;
}
#u14467 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14467_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14468_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:99px;
}
#u14468 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:757px;
  width:373px;
  height:99px;
  display:flex;
}
#u14468 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14468_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14469_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:173px;
}
#u14469 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:242px;
  width:2px;
  height:173px;
  display:flex;
}
#u14469 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14469_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14470_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14470 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:209px;
  width:150px;
  height:150px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14470 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14470_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14471_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:114px;
}
#u14471 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:513px;
  width:373px;
  height:114px;
  display:flex;
}
#u14471 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14471_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14472_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14472 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:516px;
  width:298px;
  height:20px;
  display:flex;
  text-align:left;
}
#u14472 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14472_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14473_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u14473 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:542px;
  width:298px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u14473 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14473_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14474_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-decoration:underline ;
  text-align:left;
}
#u14474 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:582px;
  width:298px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-decoration:underline ;
  text-align:left;
}
#u14474 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14474_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14475_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:323px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14475 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:329px;
  width:316px;
  height:323px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14475 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14475_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
