body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-23px;
  width:691px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u14167_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:375px;
  height:213px;
}
#u14167 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:35px;
  width:375px;
  height:213px;
  display:flex;
}
#u14167 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14167_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14168_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:173px;
}
#u14168 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:242px;
  width:373px;
  height:173px;
  display:flex;
}
#u14168 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14168_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14169_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:114px;
}
#u14169 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:415px;
  width:373px;
  height:114px;
  display:flex;
}
#u14169 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14169_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14170_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:99px;
}
#u14170 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:757px;
  width:373px;
  height:99px;
  display:flex;
}
#u14170 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14170_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14171_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:173px;
}
#u14171 {
  border-width:0px;
  position:absolute;
  left:396px;
  top:242px;
  width:2px;
  height:173px;
  display:flex;
}
#u14171 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14171_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14172_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:150px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14172 {
  border-width:0px;
  position:absolute;
  left:445px;
  top:209px;
  width:150px;
  height:150px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14172 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14172_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14173_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:373px;
  height:114px;
}
#u14173 {
  border-width:0px;
  position:absolute;
  left:23px;
  top:513px;
  width:373px;
  height:114px;
  display:flex;
}
#u14173 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14173_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u14174_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:left;
}
#u14174 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:516px;
  width:298px;
  height:20px;
  display:flex;
  text-align:left;
}
#u14174 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14174_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14175_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u14175 {
  border-width:0px;
  position:absolute;
  left:49px;
  top:542px;
  width:298px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-align:left;
}
#u14175 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14175_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14176_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:298px;
  height:21px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-decoration:underline ;
  text-align:left;
}
#u14176 {
  border-width:0px;
  position:absolute;
  left:75px;
  top:582px;
  width:298px;
  height:21px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  text-decoration:underline ;
  text-align:left;
}
#u14176 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u14176_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u14177_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:316px;
  height:323px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14177 {
  border-width:0px;
  position:absolute;
  left:398px;
  top:329px;
  width:316px;
  height:323px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u14177 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u14177_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
