body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-18px;
  width:610px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u4713_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:759px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u4713 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:140px;
  width:610px;
  height:759px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u4713 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4713_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4714_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u4714 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:101px;
  width:610px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u4714 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u4714_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4715 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4716_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:44px;
  background:inherit;
  background-color:rgba(57, 159, 253, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4716 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:812px;
  width:171px;
  height:44px;
  display:flex;
  color:#FFFFFF;
}
#u4716 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4716_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4717_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u4717 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:108px;
  width:72px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u4717 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4717_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4718 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4719_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:142px;
}
#u4719 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:169px;
  width:519px;
  height:142px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u4719 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4719_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4720_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:98px;
}
#u4720 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:198px;
  width:135px;
  height:98px;
  display:flex;
}
#u4720 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4720_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4721_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:35px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4721 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:173px;
  width:103px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4721 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4721_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4722_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u4722 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:173px;
  width:49px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u4722 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4722_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4723 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4724_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:142px;
}
#u4724 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:326px;
  width:519px;
  height:142px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u4724 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4724_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4725_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:98px;
}
#u4725 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:355px;
  width:135px;
  height:98px;
  display:flex;
}
#u4725 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4725_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4726_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:35px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4726 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:330px;
  width:103px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4726 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4726_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4727_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:129px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u4727 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:330px;
  width:129px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u4727 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4727_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4728 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4729_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:142px;
}
#u4729 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:479px;
  width:519px;
  height:142px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u4729 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4729_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4730_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:98px;
}
#u4730 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:508px;
  width:135px;
  height:98px;
  display:flex;
}
#u4730 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4730_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4731_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:35px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4731 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:483px;
  width:103px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4731 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4731_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4732_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u4732 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:483px;
  width:78px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u4732 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4732_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u4733 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4734_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:142px;
}
#u4734 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:636px;
  width:519px;
  height:142px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u4734 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4734_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4735_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:98px;
}
#u4735 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:665px;
  width:135px;
  height:98px;
  display:flex;
}
#u4735 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4735_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u4736_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:35px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4736 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:640px;
  width:103px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u4736 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u4736_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u4737_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u4737 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:640px;
  width:78px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u4737 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u4737_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
