body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-50px;
  width:2208px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u3206_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:340px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
}
#u3206 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:37px;
  width:340px;
  height:150px;
  display:flex;
}
#u3206 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3206_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3207_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:539px;
}
#u3207 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:177px;
  width:1080px;
  height:539px;
  display:flex;
}
#u3207 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3207_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3208_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:539px;
}
#u3208 {
  border-width:0px;
  position:absolute;
  left:50px;
  top:716px;
  width:1080px;
  height:539px;
  display:flex;
}
#u3208 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3208_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3209_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:539px;
}
#u3209 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:177px;
  width:1080px;
  height:539px;
  display:flex;
}
#u3209 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3209_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3210_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1080px;
  height:539px;
}
#u3210 {
  border-width:0px;
  position:absolute;
  left:1178px;
  top:716px;
  width:1080px;
  height:539px;
  display:flex;
}
#u3210 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u3210_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u3211_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3211 {
  border-width:0px;
  position:absolute;
  left:809px;
  top:634px;
  width:196px;
  height:150px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3211 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3211_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u3212_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:196px;
  height:150px;
  background:inherit;
  background-color:rgba(208, 225, 125, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.2);
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3212 {
  border-width:0px;
  position:absolute;
  left:1935px;
  top:634px;
  width:196px;
  height:150px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
}
#u3212 .text {
  position:absolute;
  align-self:flex-start;
  padding:10px 10px 10px 10px;
  box-sizing:border-box;
  width:100%;
}
#u3212_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
