body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-18px;
  width:610px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u7676_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:759px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(228, 228, 228, 1);
  border-radius:8px;
  border-top-left-radius:0px;
  border-top-right-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u7676 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:140px;
  width:610px;
  height:759px;
  display:flex;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑', sans-serif;
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u7676 .text {
  position:absolute;
  align-self:flex-start;
  padding:20px 20px 20px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7676_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7677_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:610px;
  height:40px;
  background:inherit;
  background-color:rgba(249, 249, 249, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(233, 233, 233, 1);
  border-radius:10px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u7677 {
  border-width:0px;
  position:absolute;
  left:18px;
  top:101px;
  width:610px;
  height:40px;
  display:flex;
  font-family:'FontAwesome', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:16px;
  color:#999999;
  text-align:left;
  line-height:20px;
}
#u7677 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 20px;
  box-sizing:border-box;
  width:100%;
}
#u7677_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7678 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7679_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:171px;
  height:44px;
  background:inherit;
  background-color:rgba(57, 159, 253, 1);
  border:none;
  border-radius:60px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u7679 {
  border-width:0px;
  position:absolute;
  left:238px;
  top:812px;
  width:171px;
  height:44px;
  display:flex;
  color:#FFFFFF;
}
#u7679 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7679_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7680_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:72px;
  height:23px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:20px;
  text-align:center;
}
#u7680 {
  border-width:0px;
  position:absolute;
  left:556px;
  top:108px;
  width:72px;
  height:23px;
  display:flex;
  font-size:20px;
  text-align:center;
}
#u7680 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7680_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7681 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7682_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:142px;
}
#u7682 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:158px;
  width:519px;
  height:142px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u7682 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7682_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7683_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:98px;
}
#u7683 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:187px;
  width:135px;
  height:98px;
  display:flex;
}
#u7683 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7683_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7684_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:35px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7684 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:162px;
  width:103px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7684 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7684_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7685_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7685 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:162px;
  width:78px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7685 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7685_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7686 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7687_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:142px;
}
#u7687 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:315px;
  width:519px;
  height:142px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u7687 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7687_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7688_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:98px;
}
#u7688 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:344px;
  width:135px;
  height:98px;
  display:flex;
}
#u7688 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7688_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7689_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:35px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7689 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:319px;
  width:103px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7689 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7689_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7690_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:78px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7690 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:319px;
  width:78px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7690 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7690_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
#u7691 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u7692_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:519px;
  height:142px;
}
#u7692 {
  border-width:0px;
  position:absolute;
  left:64px;
  top:478px;
  width:519px;
  height:142px;
  display:flex;
  font-family:'Microsoft Tai Le', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:rgba(0, 0, 0, 0.647058823529412);
}
#u7692 .text {
  position:absolute;
  align-self:flex-end;
  padding:2px 2px 8px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7692_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7693_img {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:98px;
}
#u7693 {
  border-width:0px;
  position:absolute;
  left:245px;
  top:507px;
  width:135px;
  height:98px;
  display:flex;
}
#u7693 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7693_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u7694_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:103px;
  height:30px;
  background:inherit;
  background-color:rgba(0, 121, 254, 1);
  border:none;
  border-radius:35px;
  border-top-right-radius:0px;
  border-bottom-right-radius:0px;
  -moz-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  -webkit-box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  box-shadow:5px 5px 5px rgba(0, 0, 0, 0.215686274509804), 0px 5px 0px 0px rgba(0, 0, 0, 0) inset;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7694 {
  border-width:0px;
  position:absolute;
  left:480px;
  top:482px;
  width:103px;
  height:30px;
  display:flex;
  font-family:'PingFangSC-Regular', 'PingFang SC', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:12px;
  color:#FFFFFF;
}
#u7694 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u7694_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u7695_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:49px;
  height:22px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7695 {
  border-width:0px;
  position:absolute;
  left:74px;
  top:482px;
  width:49px;
  height:22px;
  display:flex;
  font-family:'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC', sans-serif;
  font-weight:650;
  font-style:normal;
  font-size:16px;
  color:#666666;
}
#u7695 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u7695_text {
  border-width:0px;
  white-space:nowrap;
  text-transform:none;
}
